.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 4rem;
  left: 4rem;
  z-index: 10;
  width: calc(100% - 8rem);
  color: var(--color-white);

  @include minTablet {
    top: 8rem;
    left: 8rem;
    width: calc(100% - 16rem);
  }

  &.isDark {
    color: var(--color-black);
  }
}

.headerButton {
  .header.menuOpen &.focus-visible:focus {
    outline-color: var(--color-white);
  }
}
