.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 4rem;
  z-index: 10;
  width: calc(100% - 8rem);
  color: var(--color-white);
  opacity: 0;
  visibility: hidden;

  ::v-deep svg {
    transition: 0.5s color, 0.5s fill;
    transition-delay: 0.5s;
  }

  @include minTablet {
    top: 8rem;
    left: 8rem;
    width: calc(100% - 16rem);
  }

  &.isDark {
    color: var(--color-black);
  }
}

.closeButton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  &.right {
    left: auto;
    right: 0;
  }
}

.closeButton,
.menuButton,
.logoButton {
  .header.menuOpen &.focus-visible:focus {
    outline-color: var(--color-white);
  }
}

.wordmark {
  width: max(57px, 5.7rem);
  height: max(24px, 2.4rem);
}
