.videoPlayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--color-white);
  pointer-events: none;
  transform: translate(-50%, -50%);

  @include minTablet {
    font-size: 22rem;
  }
}

.controlsButtons {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  right: 4rem;
  display: flex;
  align-items: center;
  color: var(--color-white);
  mix-blend-mode: exclusion;
  pointer-events: none;
}

.buttonPlay {
  height: 4rem;
  width: 8rem;
  padding: 0 2.3rem;
  font-size: clamp(10px, 1rem, 1rem);
  pointer-events: all;
}

.buttonMute {
  position: absolute;
  right: 2.3rem;
  width: clamp(13px, 1.3rem, 1.3rem);
  height: clamp(12px, 1.2rem, 1.2rem);
  pointer-events: all;
}

.timeline {
  position: absolute;
  left: 4rem;
  right: 4rem;
  bottom: 4rem;
  height: 4rem;
  background: rgba(243, 243, 243, 0.1);
  backdrop-filter: blur(20px);
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  pointer-events: all;
  overflow: hidden;
}

.time {
  height: 4rem;
  line-height: 4rem;
  font-size: clamp(10px, 1rem, 1rem);
  color: var(--color-white-04);
}

.progress,
.range {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  appearance: none;
  cursor: pointer;
}

.progress {
  pointer-events: none;
  background: none;
}

.progress::-webkit-progress-bar {
  background: none;
}

.progress::-webkit-progress-value {
  background: var(--color-white);
}

.progress::-moz-progress-bar {
  background: none;
}

.range {
  z-index: 1;
  background: transparent;
}

.range::-webkit-slider-thumb {
  width: 4rem;
  height: 4rem;
  -webkit-appearance: none;
}

.range:focus {
  outline: none;
}

.range::-moz-range-track {
  opacity: 0;
}

.range::-ms-track {
  width: 100%;
  color: transparent;
  background: transparent;
  border-color: transparent;
}

.range::-moz-range-thumb {
  width: 4rem;
  height: 4rem;
  border: none;
  background: transparent;
}

.range::-ms-thumb {
  width: 4rem;
  height: 4rem;
  background: transparent;
}
