html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

body {
  font-kerning: normal;
  text-rendering: optimizeSpeed;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
}

* {
  box-sizing: border-box;
}

img,
svg {
  display: block;
}

img {
  width: 100%;
  height: auto;
}
