html,
body {
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  user-select: none;
}

html {
  font-family: var(--font-base);
  font-size: calc(10 * (100vw / var(--size)));
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--color-bg-dark);
}

img,
svg {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

a,
button,
select,
input {
  &:focus {
    outline: none;
  }

  &.focus-visible:focus {
    outline-offset: 3px;
    outline: 1px dashed var(--color-purple);
  }
}

#__nuxt {
  // &::before {
  //   position: fixed;
  //   top: -10rem;
  //   left: -10rem;
  //   width: calc(100% + 20rem);
  //   height: calc(100% + 20rem);
  //   z-index: 99;
  //   pointer-events: none;
  //   background-size: 25rem;
  //   background-image: url('/img/noise.png');
  //   animation: noise 1s steps(2) infinite;
  //   content: '';
  // }
}

.site-border {
  display: none;
  position: fixed;
  inset: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  pointer-events: none;
  z-index: 3;

  @include minTablet {
    display: block;
    inset: 4rem;
  }
}

main {
  opacity: 0;
  visibility: hidden;
}

.page {
  width: 100%;
  height: auto;
  min-height: 100vh;
  z-index: 2;

  .is-smooth & {
    position: fixed;

    .bounding {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &.isDark {
    background-color: var(--color-bg-dark);
  }
}

.u-abs {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.button {
  display: inline-flex;
  position: relative;
  width: 146px;
  height: 61px;
  cursor: pointer;

  > svg {
    display: block;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;

    .icon {
      width: 14px;
      height: auto;
      margin-right: 15px;
    }

    span {
      font: 400 10px/1 'Matter';
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }

  &.light {
    > svg > path {
      &:first-child {
        fill: white;
        transition: fill 0.2s ease-out;
      }
      &:last-child {
        stroke: none;
      }
    }
    .icon path {
      fill: #131e2f;
    }
    span {
      color: var(--color-black-04);
    }
    &:hover {
      > svg > path {
        &:first-child {
          fill: rgba(255, 255, 255, 0.25);
        }
      }
      .icon path {
        fill: white;
      }
      span {
        color: var(--color-white);
      }
    }
  }

  &.dark {
    > svg > path {
      &:first-child {
        fill: transparent;
        transition: fill 0.2s ease-out;
      }
      &:last-child {
        stroke: white;
      }
    }
    .icon path {
      fill: white;
    }
    span {
      color: var(--color-white-04);
    }

    &:hover {
      > svg > path {
        &:first-child {
          fill: white;
        }
      }
      .icon path {
        fill: #131e2f;
      }
      span {
        color: var(--color-black-04);
      }
    }

    @include maxMobile {
      > svg > path {
        &:first-child {
          fill: white;
        }
        &:last-child {
          stroke: black;
        }
      }
      .icon path {
        fill: #131e2f;
      }
      span {
        color: var(--color-black-04);
      }
    }
  }
}
