:root {
  --size: 375;
  --font-base: 'Matter';

  --color-grey: #6f6e76;
  --color-green: #67b8d0;
  --color-purple: #8f7de3;
  --color-black: rgba(19, 30, 47, 1);
  --color-black-01: rgba(19, 30, 47, 0.1);
  --color-black-03: rgba(19, 30, 47, 0.3);
  --color-black-04: rgba(19, 30, 47, 0.4);
  --color-black-005: rgba(0, 0, 0, 0.05);
  --color-bunker: rgba(12, 16, 20, 1);
  --color-bg-dark: rgba(10, 14, 20, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-white-005: rgba(255, 255, 255, 0.05);
  --color-white-01: rgba(255, 255, 255, 0.1);
  --color-white-04: rgba(255, 255, 255, 0.4);
  --color-white-05: rgba(255, 255, 255, 0.5);
  --color-concrete: rgba(243, 243, 243, 1);
  --color-dark-01: rgba(41, 43, 87, 0.1);
  --color-dark-04: rgba(41, 43, 87, 0.4);
  --color-dark-09: rgba(41, 43, 87, 0.9);
  --color-dark: rgba(41, 43, 87, 1);

  @include minTablet {
    --size: 1440;
  }
}
