.iconButton {
  width: clamp(60px, 6rem, 6rem);
  height: clamp(60px, 6rem, 6rem);
  color: var(--color-white);

  &.menuButton.isFilled {
    ::v-deep path {
      fill: var(--color-white);
    }

    ::v-deep line {
      stroke: var(--color-black);
    }
  }

  .isDark & {
    color: var(--color-black);
  }

  span {
    display: block;
  }

  &[disabled] {
    z-index: -1;
  }
}
