.sectionIntro {
  visibility: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: -0.01em;

  @include maxMobile {
    text-align: center;
  }

  @include minTablet {
    font-size: 8rem;
    line-height: 0.9;
    letter-spacing: -0.01em;
  }
}

::v-deep .title-word {
  &:nth-child(2) {
    color: var(--color-purple);
  }
  &:nth-child(3) {
    color: var(--color-green);
  }
}

.subtitle,
.text {
  text-align: center;
  color: var(--color-white-04);
}

.subtitle {
  margin-bottom: 2rem;
  font-size: clamp(10px, 1rem, 1rem);
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-white-04);
}

.text {
  margin-top: 4rem;
  max-width: 42ch;
  font-size: clamp(14px, 1.4rem, 1.4rem);
  line-height: 1.3;

  @include maxMobile {
    display: none;
  }
}

::v-deep .text-line {
  will-change: transform;
}

.galleryItems {
  @include maxMobile {
    display: none;
  }
}

.galleryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 14.5rem;
  height: 14.5rem;
  border-radius: 50%; // For better focus state

  &:first-child {
    top: 14.89vh;
    left: 26.32vw;
  }

  &:nth-child(2) {
    top: 22.33vh;
    left: 62.92vw;
  }

  &:nth-child(3) {
    top: 66.33vh;
    left: 27.78vw;
  }
}

.galleryImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.galleryPlus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallerySphere {
  position: absolute;
}

::v-deep circle {
  &:last-child {
    visibility: hidden;
  }
}
