.text.positionRightCenter + .galleryItems {
  top: 2%;
  left: -18%;

  .galleryItem:first-child {
    top: 22vh;
    left: 25vw;
  }

  .galleryItem:nth-child(2) {
    left: 59.92vw;
    top: 63vh;
  }

  @include maxMobile {
    top: 10vh !important;
    left: 0 !important;

    .galleryItem:first-child {
      top: 50vh;
      left: 5vw;
    }

    .galleryItem:nth-child(2) {
      top: 55vh;
      left: 48vw;
    }

    .galleryItem:nth-child(3) {
      top: 38vh;
      left: 60vw;
    }
  }
}

.galleryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 14.5rem;
  height: 14.5rem;
  border-radius: 50%; // For better focus state

  &:first-child {
    top: 3vh;
    left: 21vw;
  }

  &:nth-child(2) {
    top: 9vh;
    left: 74vw;
  }

  &:nth-child(3) {
    top: 31vh;
    left: 12.78vw;
  }

  > span {
    position: absolute;
    bottom: 0px;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    opacity: 0;
  }

  @include maxMobile {
    &:first-child {
      position: relative;
      top: 50vh;
      left: 5vw;
    }

    &:nth-child(3) {
      top: 55vh;
      left: 38vw;
    }

    &:nth-child(2) {
      top: 44vh;
      left: 60vw;
    }
  }
}

.galleryMask {
  opacity: 0;
}

.galleryImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;

  @include maxMobile {
    width: 6rem;
    height: 6rem;
  }
}

.galleryPlus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallerySphere,
.galleryBigSphere {
  position: absolute;
  transform-origin: center;
}

::v-deep circle {
  &:last-child {
    visibility: hidden;
  }
}
