.galleryItems {
  @include maxMobile {
    display: none;
  }
}

.text.positionRightCenter + .galleryItems {
  top: 2%;
  left: -18%;

  .galleryItem:first-child {
    top: 22vh;
    left: 25vw;
  }

  .galleryItem:nth-child(2) {
    left: 59.92vw;
    top: 63vh;
  }
}

.galleryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 14.5rem;
  height: 14.5rem;
  border-radius: 50%; // For better focus state

  &:first-child {
    top: 2vh;
    left: 21vw;
  }

  &:nth-child(2) {
    top: 9vh;
    left: 74vw;
  }

  &:nth-child(3) {
    top: 31vh;
    left: 12.78vw;
  }

  > span {
    position: absolute;
    bottom: 0px;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    opacity: 0;
  }
}

.galleryMask {
  opacity: 0;
}

.galleryImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.galleryPlus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallerySphere {
  position: absolute;
}

.galleryBigSphere {
  position: absolute;
}

::v-deep circle {
  &:last-child {
    visibility: hidden;
  }
}
