.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 4rem;
  left: 4rem;
  z-index: 7;
  width: calc(100% - 8rem);
  color: var(--color-white);
  opacity: 0;
  visibility: hidden;

  @include minTablet {
    bottom: 9rem;
    left: 8rem;
    width: calc(100% - 16rem);
  }
}

.footerCredits {
  @include maxMobile {
    display: none;
  }
}

.footerRight {
  display: flex;
  align-items: center;

  @include maxMobile {
    justify-content: space-between;
    width: 100%;
  }
}
