.chapterNav {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  margin-top: 3rem;
  transform: translate(-50%, 0);

  @include maxMobile {
    display: none;
  }
}

.list {
  display: inline-flex;
}

.listItem {
  flex-shrink: 0;

  &:not(:first-child) {
    margin-left: -1px;
  }
}

.button {
  display: flex;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(243, 243, 243, 0.9);

  &.isActive {
    color: #000;
    background-color: #f3f3f3;
  }
}
