.chapterNav {
  position: fixed;
  bottom: 4rem;
  left: 0;
  z-index: 5;
  color: var(--color-white-04);
  background-color: rgba(243, 243, 243, 0.1);
  border: 1px solid var(--color-white-005);
  backdrop-filter: blur(20px);
  transition: 1s color, 1s border, 1s background-color;

  &.isLight {
    color: var(--color-dark-04);
    border: 1px solid var(--color-black-005);
  }

  &.isDisabled {
    pointer-events: none;
  }

  @include minTablet {
    position: absolute;
    left: 4rem;
    right: 4rem;
  }
}

.navList {
  display: flex;
}

.navItem {
  flex: 1;
  display: flex;

  &:not(:last-child) {
    border-right: 1px solid var(--color-white-005);

    .isLight & {
      border-right: 1px solid var(--color-black-005);
    }
  }

  &.isActive {
    color: var(--color-white);
    background-color: var(--color-white-01);
    transition: 0.5s background-color, 0.5s color;

    .isLight & {
      color: var(--color-black);
      background-color: var(--color-white);
    }
  }
}

.navButton {
  flex: 1;
  display: flex;
}

.buttonLabel {
  display: flex;
  margin-left: auto;
  font-size: clamp(10px, 1rem, 1rem);
  line-height: 4.3rem;
  white-space: nowrap;
  padding-left: 9rem;

  &::after {
    content: '›';
    color: var(--color-white-04);
    margin: 0 2rem 0 1rem;
    transition: color 1s;

    .isLight & {
      color: var(--color-dark-04);
    }

    .isActive & {
      color: var(--color-white);

      .isLight & {
        color: var(--color-black);
      }
    }
  }

  @include minTablet {
    padding-left: 3rem;
  }
}
