.chapterNav {
  position: absolute;
  left: 4rem;
  right: 4rem;
  bottom: 4rem;
  color: var(--color-white-04);
  background: rgba(243, 243, 243, 0.1);
  border: 1px solid var(--color-white-005);
  backdrop-filter: blur(20px);

  &.isLight {
    color: var(--color-dark-04);
    border: 1px solid var(--color-black-005);
  }

  @include maxMobile {
    display: none;
  }
}

.navList {
  display: flex;
}

.navItem {
  flex: 1;
  display: flex;

  &:not(:last-child) {
    border-right: 1px solid var(--color-white-005);

    .isLight & {
      border-right: 1px solid var(--color-black-005);
    }
  }

  &.isActive {
    color: var(--color-white);
    background-color: var(--color-white-01);

    .isLight & {
      color: var(--color-black);
      background-color: var(--color-white);
    }
  }
}

.navButton {
  flex: 1;
  display: flex;
}

.buttonLabel {
  display: flex;
  margin-left: auto;
  font-size: clamp(10px, 1rem, 1rem);
  line-height: 4.3rem;
  white-space: nowrap;
  padding-left: 3rem;

  &::after {
    content: '›';
    color: var(--color-white-04);
    margin: 0 2rem 0 1rem;

    .isLight & {
      color: var(--color-dark-04);
    }

    .isActive & {
      color: var(--color-white);

      .isLight & {
        color: var(--color-black);
      }
    }
  }
}
