.section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-dark);
  color: #fff;

  &.isLight {
    background-color: var(--color-concrete);
    color: #000;
  }
}

// TODO: Remove this
.head {
  font-size: 30px;
  font-weight: 700;
}
