.section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  color: var(--color-white);

  &.isLight {
    color: var(--color-black);
  }
}

.iconContainer {
  display: none;
  position: absolute;
  bottom: 3em;
  left: 1em;
  @include maxMobile {
    display: flex;
    gap: 2em;
  }
}

.icon {
  width: 3em;
  height: 3em;
  color: var(--color-white-08);
}
