.text {
  position: absolute;
  text-align: center;
  @include maxMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.text-layer {
  @include maxMobile {
    background: rgba(0, 0, 0, 0.55);
  }
}

.title {
  line-height: 110%;
  letter-spacing: -0.01em;
  font-size: clamp(40px, 3rem, 3rem);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;

  // &::v-deep span {
  //   text-decoration: underline;
  //   text-decoration-thickness: 2px;
  // }

  @include minTablet {
    display: block;
  }

  .isLight & {
    color: var(--color-dark);
  }
}

.paragraph {
  line-height: 130%;
  color: var(--color-white-08);
  margin-top: clamp(30px, 3rem, 3rem);

  .isLight & {
    color: var(--color-dark-05);
  }

  @include maxMobile {
    width: clamp(230px, 23rem, 23rem);
    font-size: clamp(14px, 1rem, 22px);
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include minTablet {
    width: clamp(282px, 28.2rem, 28.2rem);
    font-size: max(14px, 1.4rem);
  }
}

::v-deep .white {
  color: white;
}

::v-deep .paragraph-line {
  @include maxMobile {
    text-align: center;
  }
  will-change: transform;
}

.positionCenterTop {
  top: 27vh;
  left: 50%;
  width: clamp(500px, 25rem, 25rem);
  transform: translateX(-50%);
  text-align: center;

  @include maxMobile {
    width: clamp(340px, 25rem, 25rem);
  }

  @include minTablet {
    top: 20vh;
  }

  .title {
    letter-spacing: -0.01em;

    @include maxMobile {
      text-align: center;
      font-size: clamp(40px, 3rem, 3rem);
      line-height: 1.1;
    }

    @include minTablet {
      font-size: 56px;
      line-height: 0.9;
      letter-spacing: -0.01em;
    }
  }

  .paragraph {
    margin-left: auto;
    margin-right: auto;
  }
}

.positionRightTop {
  top: 20vh;
  right: 3rem;

  @include maxMobile {
    left: 4rem;
  }

  @include minTablet {
    top: 25vh;
    right: 24rem;
    width: clamp(315px, 31.5rem, 31.5rem);
  }
}

.positionLeftBottom {
  @include maxMobile {
    left: 4rem;
    right: 1.8rem;
    bottom: 23vh;
  }

  @include minTablet {
    left: 16rem;
    bottom: 30vh;
  }
}

.positionRightCenter {
  @include maxMobile {
    top: 25vh;
    width: 100%;
  }

  @include minTablet {
    top: 50%;
    right: 18rem;
    width: clamp(320px, 32rem, 32rem);
    transform: translateY(-50%);
  }
}

.positionLeftCenter {
  @include maxMobile {
    top: 25vh;
    left: 4rem;
    right: 4rem;
  }

  @include minTablet {
    top: 50%;
    left: 16rem;
    width: clamp(285px, 28.5rem, 28.5rem);
    transform: translateY(-50%);
  }
}

.textButton {
  margin-top: clamp(30px, 3rem, 3rem);
}

.galleryItems {
  top: 30%;
  position: absolute;

  @include maxMobile {
    top: 15%;
  }
}

.button {
  margin-top: 40px;

  @include minTablet {
    margin-top: 35px;
  }
}

@include maxMobile {
  .text {
    top: 20vh;
  }
}
