.newsGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background: var(--color-bg-dark);
  padding-bottom: 100px;

  @include minTablet {
    grid-template-columns: repeat(18, 1fr);
  }
}

.item {
  grid-column: 2/9;

  @include minTablet {
    margin-bottom: max(80px, 8rem);
  }

  &:nth-child(odd) {
    @include minTablet {
      grid-column: 3/9;
      margin-top: -30rem;
    }
  }

  &:nth-child(even) {
    @include minTablet {
      margin-top: 0;
      grid-column: 11/17;
    }
  }

  &:nth-child(2) {
    @include minTablet {
      margin-top: 30rem;
    }
  }

  &:first-child {
    margin: 0;
  }
}

.link {
  position: relative;
  display: block;

  svg {
    opacity: 0.1;
    transition: opacity 0.3s ease-out;
  }

  &:hover {
    svg {
      opacity: 1;
    }
    .thumb {
      img {
        transform: scale3d(1.1, 1.1, 1.1);
      }
    }
  }
}

.thumb {
  position: relative;
  overflow: hidden;
  height: 36.7rem;
  margin-bottom: clamp(30px, 3rem, 3rem);
  clip-path: polygon(0 0, 100% 0%, 100% 30%, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0 100%, 0% 70%, 0% 30%);

  @include minTablet {
    height: 60rem;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    transition: transform 0.4s ease-out;
  }
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.category {
  font-size: clamp(10px, 1rem, 1rem);
  line-height: 120%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--color-white-04);
  margin-bottom: clamp(10px, 1rem, 1rem);
}

.title {
  font-size: clamp(17px, 2rem, 2rem);
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--color-white);
  max-width: clamp(240px, 24rem, 24rem);

  @include maxMobile {
    margin-bottom: 5rem;
  }
}
