.sectionHeading {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.4;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5158657212885154) 15%, rgba(0, 0, 0, 0) 30%);
  }
}

.heading {
  font-size: 5rem;
  font-weight: 400;
  line-height: 90%;
  // font: 500 clamp(40px, 4rem, 60px)/0.9 'Matter';
  text-align: center;
  letter-spacing: -0.01em;
  color: white;
  font-weight: 500;
  margin-bottom: 30px;

  @include minTablet {
    margin-bottom: 0;
    font-size: 11rem;
    transform: translateY(-5rem);
    max-width: clamp(840px, 84rem, 84rem);
  }

  .isLight & {
    color: var(--color-white);
  }

  &.isLarge {
    font-size: 8rem;

    @include minTablet {
      font-size: 22rem;
      transform: translateY(-2.5rem);
    }
  }
}

.paragraph {
  width: max(230px, 23rem);
  line-height: 130%;
  // font-size: clamp(14px, 1.4rem, 20px);
  font-size: max(14px, 1.4rem);
  color: var(--color-white-04);
  text-align: center;

  .isLight & {
    color: var(--color-dark-04);
  }

  @include minTablet {
    width: max(282px, 28.2rem);
  }
}

::v-deep .white {
  color: white;
}

::v-deep .paragraph-line {
  will-change: transform;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: -40px;
  > div {
    margin: 10px 0;
  }

  @include minTablet {
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 0;

    > div {
      margin: 0 10px;
    }
  }
}

.link {
  font-size: clamp(10px, 1rem, 1rem);
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: var(--color-black-04);

  @include maxMobile {
    margin-top: 20px;
  }
}

.icon {
  width: clamp(60px, 6rem, 6rem);
  height: clamp(61px, 6.1rem, 6.1rem);
  margin-right: clamp(28px, 2.8rem, 2.8rem);
  color: var(--color-black);
}
