:root {
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: $font;
  font-size: 100%;
  user-select: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  &.--locked {
    overflow: hidden;
  }

  &.--progress {
    cursor: progress;

    * {
      cursor: progress;
    }
  }
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25rem;
}

body,
#__nuxt,
#__layout {
  display: block;
  position: relative;
  height: 100%;
}